@model WebTatilSitesi.Models.Classes.BlogSinifi
@{
    ViewData["Title"] = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Blog Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x=>x.ID) @*Html Helper*@
    @Html.TextBoxFor(x=>x.ID, new {@class = "form-control", @readonly="readonly"})
    <br />
    @Html.LabelFor(x=>x.AnaBaslik) @*Html Helper*@
    @Html.TextBoxFor(x=>x.AnaBaslik, new {@class = "form-control"})
    <br />
    @Html.LabelFor(x=>x.Tarih)
    @Html.TextBoxFor(x=>x.Tarih, new {@class = "form-control"})
    <br />
    @Html.LabelFor(x=>x.BlogGorsel)
    @Html.TextBoxFor(x=>x.BlogGorsel, new {@class = "form-control"})
    <br />
    @Html.LabelFor(x=>x.Aciklama)
    @Html.TextAreaFor(x=>x.Aciklama,15,1, new {@class = "form-control"})
    <br />
    <button class="btn btn-success">Blog Güncelle</button>
}

